<launch>
    <node name="joystick_publisher"    pkg="agro_rover"        type="joystick_mapper_rpi.py"   output="screen"/>
    <node name="rpi_subscriber"        pkg="agro_rover"        type="rpi_subscriber.py"        output="screen"/>
    <node name="webcam_publisher"      pkg="agro_rover"        type="webcam.py"                output="screen"/>
    <node name="frame_image"           pkg="agro_rover"        type="frame_image.py"           output="screen"/>
</launch>
